.footer{
    
/*     height: 50vh;
    padding-top: 11rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    position: fixed; */
 
   /*  .title{
        
    } */
    .title{
        color: #8685EF;
    }
    .author-container{
        .text{
            font-family: 'Ubuntu' !important;
             text-align: right;
             color: #8685EF;
        }

       
        
    }

    .bi{
        padding-left: 1rem;
        width: 5%;
        height: 100%;
        max-width: 45px;
        min-width: 30px; 
        fill: #696676 !important;
    }

    a :hover{
        fill: #8685EF !important;
        transition: all 0.5s;
    }
    
}