.app-container{
    margin: 0;
    .header{
        color: #8685EF;
        h1{
            padding-top: 5rem;
            text-align: center;
        }

        h6{
            text-align: center;
        }
    }
}