.search-container{
    margin-top: 3rem;
    
    .search{
        background-color: #474554b7 ;
        border: none;
        border-bottom:solid 4px #8685EF;
        color: white;
        outline: none;
    
    }

    .search:focus{
        background-color: #474554 !important;
        box-shadow: 0 0 0 .25rem #8785ef56 !important;
        transition: all 0.5s;
        color: white !important;
        border-bottom:solid 4px #8685EF;
    }
    .search:hover{
        background-color: #474554 ;
        box-shadow: 0 0 0 .25rem #8785ef56;
        transition: all 0.5s;
    }

    input[type="search"]::-webkit-search-cancel-button {
        /* Remove default */
        -webkit-appearance: none;
      }

   
    .btn{
        background-color: transparent !important;
        border: none !important;
    }

    .btn:hover{
        background-color: #8685EF !important;
        border: none;
        box-shadow: 0 0 0 .25rem #8785ef56;
        transition: all .5s;
    }

    .btn:active{
        background-color: #8685EF !important;
        border: none !important;
        box-shadow: 0 0 0 .25rem #8785ef56;
    }
  
  
}