@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap");
.image-container {
  margin-top: 4rem !important;
}

.image-container .card {
  padding: 1rem !important;
  margin-bottom: 3rem;
  width: 85% !important;
  background-color: #D8D5E7 !important;
  border-radius: 20px !important;
  border: 1px solid transparent !important;
}

.image-container .card .card-footer {
  border-top: none;
  background-color: transparent;
}

.image-container .card .card-footer p {
  border-bottom: 1px solid rgba(128, 128, 128, 0.151);
}

.image-container .card .card-footer p:hover {
  border-bottom: 1px solid #8685ef;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

.image-container .card .card-body img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.image-container .card .card-body .card-info {
  padding-top: 1rem;
}

.image-container .card .card-body .card-info .bi {
  height: 30px;
  padding-right: 2px;
}

.image-container .card .card-body .card-info .like {
  background-color: transparent;
  border: none;
}

.image-container .card .card-info .user-link {
  text-decoration: none;
  color: #696676;
}

.image-container .card .card-info .user-link:hover {
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.image-container .card .card-info .bi-person-circle {
  fill: #474554;
}

.app-container {
  margin: 0;
}

.app-container .header h1 {
  padding-top: 5rem;
  text-align: center;
}

.app-container .header h6 {
  text-align: center;
}

.search-container {
  margin-top: 3rem;
}

.search-container .search {
  background-color: #474554b7;
  border: none;
  border-bottom: solid 4px #8685EF;
  color: white;
  outline: none;
}

.search-container .search:focus {
  background-color: #474554 !important;
  -webkit-box-shadow: 0 0 0 .25rem #8785ef56 !important;
          box-shadow: 0 0 0 .25rem #8785ef56 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white !important;
  border-bottom: solid 4px #8685EF;
}

.search-container .search:hover {
  background-color: #474554;
  -webkit-box-shadow: 0 0 0 .25rem #8785ef56;
          box-shadow: 0 0 0 .25rem #8785ef56;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search-container .btn {
  background-color: transparent !important;
  border: none !important;
}

.search-container .btn:hover {
  background-color: #8685EF !important;
  border: none;
  -webkit-box-shadow: 0 0 0 .25rem #8785ef56;
          box-shadow: 0 0 0 .25rem #8785ef56;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.search-container .btn:active {
  background-color: #8685EF !important;
  border: none !important;
  -webkit-box-shadow: 0 0 0 .25rem #8785ef56;
          box-shadow: 0 0 0 .25rem #8785ef56;
}

.footer {
  /*     height: 50vh;
    padding-top: 11rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    position: fixed; */
  /*  .title{
        
    } */
}

.footer .author-container .text {
  font-family: 'Ubuntu' !important;
  text-align: right;
}

.footer .bi {
  padding-left: 1rem;
  width: 5%;
  height: 100%;
  max-width: 45px;
  min-width: 30px;
  fill: #696676 !important;
}

.footer a :hover {
  fill: #474554 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body {
  background-color: #ACA9BB !important;
}

body * {
  font-family: 'Ubuntu', sans-serif !important;
}
/*# sourceMappingURL=app.css.map */